@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans), "IBM Plex Sans", system-ui, sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* 地图标注点响应式大小 */
@media (max-width: 768px) {
  .rsm-marker circle {
    r: 4;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .rsm-marker circle {
    r: 5;
  }
}
